{% extends "./base.html" %}

{% block title %} Mi Carrito {% endblock %}

{% block body %}

{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
          <div class="col-10">
            <h3>Mi Carrito</h3>
            <div class="card py-2">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col-2">Código</th>
                            <th scope="col-2">Descripción</th>
                            <th scope="col-2">Precio Unitario</th>
                            <th scope="col-2">Cantidad</th>
                            <th scope="col-2">Precio Total</th>
                            <th scope="col-2">Eliminar del carrito</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for p in productos %}
                          <tr>
                          <td>{{p.codigo}}</td>
                          <td>{{p.descripcion}}</td>
                          <td>{{p.precio}}</td>
                          <td> <form>
                            <div class="col-5 mx-auto">
                                <input type="number" class="form-control" id="inputCant" value="1" min="1" required >
                            </div>
                          </form> </td>
                          <td>{{p.precioTotal}}</td>
                          <td><a href="/eliminacionArticulo" class="btn btn-danger btnEliminar"><i class="bi-trash"></i></a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <form action="/cliente">
                        <button class="btn btn-primary" type="submit">Siguiente</button>
                      </form>
                </div>
            </div>
          </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/carrito.js' %}"></script>

{% endblock %}