{% extends "./base.html" %}

{% block title %} Factura {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <div class="row mx-2 my-4">
                      <h3 class="card-title">Factura</h3>
                      <h4 class="card-subtitle mb-2 text-muted">La papeleria de papel.</h4>
                    </div>
                    
                    <div class="row mx-2">
                      <div class="col">
                        <p><b>FACTURAR A:</b><br>
                          Nombre Appellido Appellido <br>
                          RFC<br>
                          Ciudad, cp<br>
                          Telefono
                        </p>
                      </div>

                      <div class="col"></div>
                      <div class="col"></div>

                      <div class="col">
                        <p><b>FACTURA:</b> FACT-001</p>
                        <p><b>FECHA:</b> dd/mm/aaaa</p>
                      </div>
                    </div>

                    <div class="row mx-4">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Detalles</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">Precio Importe</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>9999</td>
                            <td>Lápiz</td>
                            <td>$98</td>
                            <td>$98</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="row mx-2">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Total</th>
                            <th scope="col">5</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
            </div>
      </div>
      <div class="row">
        <div class="col-11"></div>
        <div class="col-1">
          <a class="btn btn-primary my-3" href="\home" type="summit">Finalizar</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}