{% extends "./base.html" %}

{% block title %} Factura {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <div class="row mx-2 my-4">
                      <h3 class="card-title">Factura</h3>
                      <h4 class="card-subtitle mb-2 text-muted">Papel & Lápiz.</h4>
                    </div>
                    
                    <div class="row mx-2">
                      <div class="col">
                        <p><b>FACTURAR A:</b><br>
                          Nombre: {{cliente.nombre}} {{cliente.apP}} {{cliente.apM}}<br>
                          RFC: {{cliente.rfc}}<br>
                          Dirección: {{cliente.calle}}, {{cliente.col}}. CP {{cliente.cp}} <br>
                        </p>
                      </div>

                      <div class="col"></div>

                      <div class="col">
                        <p><b>FACTURA:</b> FACT-{{venta.id}}</p>
                        <p><b>FECHA:</b> {{venta.fecha}}</p>
                      </div>
                    </div>

                    <div class="row mx-4">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">Precio Importe</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for p in productos %}
                          <tr>
                            <td>{{p.cant}}</td>
                            <td>{{p.desc}}</td>
                            <td>{{p.precio}}</td>
                            <td>{{p.preciotot}}</td>
                          </tr>
                          {% endfor %}
                          <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Total</th>
                            <th scope="col">{{venta.pago}}</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
      </div>
      <div class="row">
        <div class="col-11"></div>
        <div class="col-1">
          <a class="btn btn-primary my-3" href="\home" type="summit">Finalizar</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}