{% extends "./base.html" %}

{% block title %} Registro de Cliente {% endblock %}

{% block body %}

<div class="card">
<div class="card-body">
<h3>Registro de cliente</h3>
<form class="needs-validation" novalidate action="/formularioCliente/" method="post"> {% csrf_token %}

    <div class="form-group row mx-2">
      <div class="col-md-4 mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" name="txtNombre" id="fNombre" placeholder="Nombre" maxlength="32" required >
          <label for="floatingInput">Nombre</label>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" name="txtApP" id="fAp-Pa" placeholder="Apellido Paterno" maxlength="32" required >
          <label for="floatingInput">Apellido Paterno</label>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" name="txtApM" id="fAp-Ma" placeholder="Apellido Materno" maxlength="32" >
          <label for="floatingInput">Apellido Materno</label>
        </div>
      </div>
    </div>

    <div class="form-group row mx-2">
        <div class="col-md-4 mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" name="txtRFC" id="fRfc" placeholder="RFC" minlength="13" maxlength="13" required >
            <label for="floatingInput">RFC</label>
          </div>
        </div>

        <div class="col-md-8 mb-3">
          <div class="form-floating">
            <input type="email" class="form-control" name="emCorreo" id="fCorreo" placeholder="Correo" maxlength="64" required >
            <label for="floatingInput">Correo</label>
          </div>
        </div>
    </div>

    <div class="form-group row mx-2">
      <div class="col-md-6 mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" name="txtCalle" id="fCalle" placeholder="Calle" maxlength="32" required >
          <label for="floatingInput">Calle</label>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" name="txtColonia" id="fColonia" placeholder="Colonia"  maxlength="32" required >
          <label for="floatingInput">Colonia</label>
        </div>
      </div>
    </div>
    
    <div class="form-group row mx-2">
      <div class="col-md-6 mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" name="txtEstado" id="fEstado" placeholder="Estado" maxlength="32" required >
          <label for="floatingInput">Estado</label>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" name="txtCP" id="fCp" placeholder="Código postal" minlength="5" maxlength="5" required >
          <label for="floatingInput">Código postal</label>
        </div>
      </div>
    </div>
    

    <button class="btn btn-primary mx-3" type="submit">Registrar</button>
  </form>
  
  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
</div>
</div>

{% endblock %}